* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  #botonReinicio {
    margin-top: 15px;
  }
  .game-container {
    border: 2px solid #333;
    background-color: #fff;
    background-image: url('assets/images/bgimage.png');
    background-size: cover; /* Hace que la imagen cubra toda el área */
    background-position: center center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    width: 600;
    height: 400;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #score-board {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
  }
  
  canvas {
    border: 1px solid #000;
  }
  